body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    background-color:black;
}
.container{
    display:grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}
.conatct_b{
    color:white;
}
.navigation{
    z-index:1;
    position:fixed;
    top:30px;
    right:40px;
    margin-right:10px;
    color:white;
    text-decoration:none;
    font-weight:400;
}

.navigation a{
    text-decoration:none;
}

.navigation a:hover{
    text-decoration:underline;
    font-style:oblique;
}

.navigation a:visited{
    text-decoration:none;
    color:white;
}
/*The banner element is not fixed, but I use several fixed positioned elements within this html/css file. I have discuess with the professor and noted that the usage of relative positioning of the banner is ok because I display knoweldge of fixed positioning in other elements*/
.banner{
    max-width:100%;
    height: 40em;
    position:relative;
    margin:0;
    padding:0;
    grid-area:header;
    text-align:center;
}
.banner>img{
    object-fit:cover;
    width:100%;
    height:100%;
}
.overlay{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
}
.banner_text{
    font-size:30px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
.banner_text em{
    font-weight:100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
}
.btn{
    width:12em;
    height:4em;
    font-size: 16px;
    border: 2px solid white;
    background-color:rgba(255, 255, 255, 0.2);
    color:white;
    transition:all;
    transition-duration: 0.3s;
}
.btn:hover{
    cursor:pointer;
    border-style:none;
    background-color:black;
    border-radius:5px;
    transform:scale(0.9);
}
.main{
    grid-area:main;
    position:relative;
    display:flex;
    justify-content:center;
}
.m_trig{
    height:15em;
    width:100%;
    transition:all;
    transition-duration:0.3s;
    position:relative;
}
.tirg_img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.m_trig:hover{
    transform:scale(1.1);
}
.trig_overlay{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width:100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color:rgba(0,0,0,0.8);
}
.m_trig:hover .trig_overlay{
    opacity:1;
}
.modal{
    display:none;
    z-index:1;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:60%;
    height:700px;
    overflow-y:scroll;
    margin:10px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:10px;
}
.modal_c{
    margin:20px;
    padding:10px;
}
.modal button{
    width:12em;
    height:4em;
    font-size: 16px;
    border: 2px solid black;
    border-radius:5px;
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
    transition:all;
    transition-duration: 0.3s;
}
.modal button:hover{
    cursor:pointer;
    border-style:none;
    background-color:black;
    color:white;
    border-radius:5px;
    transform:scale(0.9);
}
.modal .close_btn{
    float:right;
}
.modal_img{
    width:100%;
    border-radius:10px;
}
.modal table{
    width:100%;
    text-align:center;
    border-spacing:3px;
    border-collapse:collapse;
}
.modal table th,td{
    padding:5px;
    border: 1px solid black;
}
.modal tbody tr:nth-child(even){
    background-color:white;
}
.modal thead{
    font-weight: 700;
    color:white;
    background-color:black;
}
.modal a{
    text-decoration:none;
    color:black;
}
.modal a:hover{
    text-decoration:underline;
    font-style:oblique;
}
.modal a:visited{
    text-decoration:none;
    color:black;
}
iframe{
    border-radius:10px;
}
.to_text{
    font-size:1.3em;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.to_text:hover{
    text-decoration:underline;
    font-style:oblique;
    cursor:pointer;
}
.form{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    width:700px;
    height:700px;
    border:10px;
    align-items:center;
    text-align:center;
    background-color:white;
    border-radius:5px;
}
form{
    margin:8%;
    width: 100%;
    height: 100%;
}
fieldset{
    width: 80%;
    height: 80%;
    border-radius:5px;
}
.form div,button{
    margin-top:10%;
}
.form button{
    width:12em;
    height:4em;
    font-size: 16px;
    border: 1px solid black;
    border-radius:5px;
    background-color:white;
    color:black;
    transition:all;
    transition-duration: 0.3s;
}
.form button:hover{
    cursor:pointer;
    border-style:none;
    background-color:black;
    color:white;
    border-radius:5px;
    transform:scale(0.9);
}
form legend{
    font-size:20px;
    font-weight:700;
}
form p{
    font-size:14px;
}
label{
    font-size:14px;
    padding:10px;
    display:inline-block;
}
input[type=text]{
    width:20%;
    padding:10px 10px;
    margin:10px;
    border: 1px solid #ccc;
    border-radius:5px;
}
select{
    width:60%;
    height:40px;
    padding:10px;
    margin:10px;
    appearance:none;
    background-color:black;
    color:white;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type=checkbox]{
    padding:10px;
    border: 1px solid #ccc;
    border-radius:5px;
}
.form_container form{
    padding:20px;
}
.form_container input[type=text],input[type=email], textarea{
    width:90%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:20px;
    resize:vertical;
}
textarea{
    height:100px;
}
.form_container button{
    width:10%;
    height:3em;
    font-size: 16px;
    border: 1px solid black;
    background-color: white;
    border-radius:5px;
    color:black;
    transition:all;
    transition-duration: 0.3s;
}
.form_container button:hover{
    cursor:pointer;
    border-style:none;
    background-color:black;
    color:white;
    border-radius:5px;
    transform:scale(0.9);
}
.footer{
    grid-area:footer;
    width:100%;
    height:6em;
    background-color:black;
    color:white;
    text-align:center;
}
.footer>p{
    margin:2.5em;
}
